.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2);
    padding: 0;
    background-color: #6d4c41;
    margin-bottom: 20px;
}



.card img{
    border-radius: 8px 8px 0 0; 
    width: 100%;
   
 }

 .card a{
    background-color: rgb(255, 196, 147);
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 8px;
    width: 50%;
 }